<% if @searches %>
<div class="search">
<h1 class="welcome"> Search History</h1> <br>
  <% @searches.each do |s| %>
  <ul>
    <li>
    <%=  s[:colour] %> <%= s[:noun] %>
    <%= link_to "Show", search_path(s)%> | <%= link_to "HomePage", root_path%> |
    <%= link_to "Search Again", images_path(colour: "#{s[:colour]}"), method: :post%>
    </li>
  </ul>
  <% end %>
<% else %>
<h1 class=welcome> No searches available </h1>
<% end %>
</div>
