
<h1 class="welcome">Welcome to Image finder </h1>
<p class= "select">Select a colour to start an image search</p>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row margin-bottom-10">

          <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-green">
              <h2>  <%= link_to "Green Box", images_path, class: "heading-md"%> </h2>
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-yellow">
              <h2>  <%= link_to "Yellow Box", images_path, class: "heading-md"%> </h2>
            </div>
          </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-dark-blue">
              <h2>  <%= link_to "Blue Box", images_path, class: "heading-md"%> </h2>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-orange">
              <h2>  <%= link_to "Orange Box", images_path, class: "heading-md"%> </h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block rounded servive-block-pink">
              <h2>  <%= link_to "Pink Box", images_path, class: "heading-md"%> </h2>

            </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="servive-block servive-block-red">
            <h2>  <%= link_to "Red Box", images_path, class: "heading-md"%> </h2>
          </div>
        </div>

    </div>
    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-purple">
              <h2>  <%= link_to "Purple Box", images_path, class: "heading-md"%> </h2>
            </div>
        </div>
    </div>
</div>
