
<h1 class="welcome">Welcome to Image finder </h1>
<p class= "select"> Click a colour name to start</p>
<p class="select"> <%= link_to "Search History", search_index_path %>
<br><br>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row margin-bottom-10">

          <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-green">
              <h2>  <%= link_to "Green", images_path(colour: "green"), method: :post, class: "heading-md"%> </h2>
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-yellow">
              <h2>  <%= link_to "Yellow", images_path(colour: "yellow"), method: :post, class: "heading-md"%> </h2>
            </div>
          </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-dark-blue">
              <h2>  <%= link_to "Blue", images_path(colour: "blue"), method: :post, class: "heading-md"%> </h2>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-orange">
              <h2>  <%= link_to "Orange", images_path(colour: "orange"), method: :post, class: "heading-md"%> </h2>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block rounded servive-block-pink">
              <h2>  <%= link_to "Pink", images_path(colour: "pink"), method: :post, class: "heading-md"%> </h2>

            </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="servive-block servive-block-red">
            <h2>  <%= link_to "Red", images_path(colour: "red"), method: :post, class: "heading-md"%> </h2>
          </div>
        </div>

    </div>
    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-purple">
              <h2>  <%= link_to "Purple", images_path(colour: "purple"), method: :post, class: "heading-md"%> </h2>
            </div>
        </div>
    </div>
</div>
